body {
    background-image: url('fundo.png');
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}
#principal {
    width: 900px;
    text-align: center;

}

#menu {
    padding: 18px;
    background-color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.links {
    text-decoration: none;
    color: white;
}
.borda {
    border: 5px solid white;
    
}
#conteudo {
    background-color: burlywood;
    padding: 6px;
    font-weight: bold;
}
#autor {
    text-decoration: underline;
}